.typewriter h1 {
  overflow: hidden;
  border-right: .30em solid orange;
  border-radius: 4px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .3em;
  font-weight: bold;
  animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 15em
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 800px){
    .typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .3em;
    font-weight: bold;
    animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
    animation-iteration-count: infinite;
    font-size: 20px;
  }

  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 15em
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: orange;
    }
  }
}